<p>
  form works!
</p>

<form [formGroup]="form">
  <div>
    <label>Street</label> <br>
    <input formControlName="street" type="text" />

    <div class="error" *ngIf="form.controls['street'].invalid && form.controls['street'].touched">
      <span *ngIf="form.controls['street'].hasError('required')">
        Required
      </span>
      <span *ngIf="form.controls['street'].hasError('minlength')">
        Min length 3 symbols
      </span>
    </div>
  </div>


  <div>
    <label>House Number</label> <br>
    <input formControlName="houseNumber" type="text" />

    <div class="error" *ngIf="form.controls['houseNumber'].invalid && form.controls['houseNumber'].touched">
      <span *ngIf="form.controls['houseNumber'].hasError('required')">
        Required
      </span>
      <span *ngIf="form.controls['houseNumber'].hasError('minlength')">
        Min length 1 symbol
      </span>
      <span *ngIf="form.controls['houseNumber'].hasError('maxlength')">
        Max length 3 symbols
      </span>
      <span *ngIf="form.controls['houseNumber'].hasError('pattern')">
        Must be only numbers
      </span>
    </div>
  </div>


  <div>
    <label>City</label> <br>
    <input formControlName="city" type="text" />

    <div class="error" *ngIf="form.controls['city'].invalid && form.controls['city'].touched">
      <span *ngIf="form.controls['city'].hasError('required')">
        Required
      </span>
      <span *ngIf="form.controls['city'].hasError('minlength')">
        Min length 3 symbol
      </span>
    </div>
  </div>


  <div formArrayName="phones">
    <div *ngFor="let phone of form.get('phones').controls; let i = index">
      <label>Phone {{i +1}}</label> <br> 
      <input formControlName="{{i}}" />

      <div class="error" *ngIf="phone.invalid && phone.touched">
        <span *ngIf="phone.hasError('required')">
          Required 
        </span>
        <span *ngIf="phone.hasError('incorrectStart')">
          Must start with "+3"
        </span>
      </div>
    </div>

    <div class="error" *ngIf="form.get('phones').invalid && form.get('phones').touched">
      <span *ngIf="form.get('phones').hasError('notUniq')">
        Phone numbers must be unique
      </span>
    </div>
  </div>

  <div>
    <button (click)="addPhone()">Add Phone</button>
  </div>


  <div formGroupName="account"> <br> 
    <label>Account Info</label> 

    <div>
      <label>Email address</label> <br>
      <input type="email" formControlName="email">

      <div class="error" *ngIf="form.get('account').get('email').invalid && form.get('account').get('email').touched">
        <span *ngIf="form.get('account').get('email').hasError('required')">
          Required
        </span>
        <span *ngIf="form.get('account').get('email').hasError('email')">
          Not valid email
        </span>
      </div>
    </div>

    <div>
      <label>Confirm email address</label> <br>
      <input type="email" formControlName="confirm">

      <div class="error" *ngIf="form.get('account').get('confirm').invalid && form.get('account').get('confirm').touched">
        <span *ngIf="form.get('account').get('confirm').hasError('required')">
          Required
        </span>
        <span *ngIf="form.get('account').get('confirm').hasError('email')">
          Not valid email
        </span>
      </div>
    </div>

    <div class="error" *ngIf="form.get('account').touched && form.get('account').hasError('nomatch')">
      Email addresses must match
    </div>
  </div>

  <button [disabled]="form.invalid">Submit</button>
</form>