<p>
  form works!
</p>

<form [formGroup]="form">
  <div>
    <label>Street</label> <br>
    <input formControlName="street" type="text" />

    <div class="error" *ngIf="form.controls['street'].invalid && form.controls['street'].touched">
      <span *ngIf="form.controls['street'].errors.required">
        Required
      </span>
      <span *ngIf="form.controls['street'].errors.minlength">
        Min length 3 symbols
      </span>
    </div>
  </div>


  <div>
    <label>House Number</label> <br>
    <input formControlName="houseNumber" type="text" />

    <div class="error" *ngIf="form.controls['houseNumber'].invalid && form.controls['houseNumber'].touched">
      <span *ngIf="form.controls['houseNumber'].errors.required">
        Required
      </span>
      <span *ngIf="form.controls['houseNumber'].errors.minlength">
        Min length 1 symbol
      </span>
      <span *ngIf="form.controls['houseNumber'].errors.manlength">
        Max length 3 symbols
      </span>
      <span *ngIf="form.controls['houseNumber'].errors.pattern">
        Must be only numbers
      </span>
    </div>
  </div>


  <div>
    <label>City</label> <br>
    <input formControlName="city" type="text" />

    <div class="error" *ngIf="form.controls['city'].invalid && form.controls['city'].touched">
      <span *ngIf="form.controls['city'].errors.required">
        Required
      </span>
      <span *ngIf="form.controls['city'].errors.minlength">
        Min length 3 symbol
      </span>
    </div>
  </div>

  <div>
    <label>Email</label> <br>
    <input formControlName="email" type="text" />

    <div class="error" *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
      <span *ngIf="form.controls['email'].errors.required">
        Required
      </span>
      <span *ngIf="form.controls['email'].errors.email">
        Not valid email
      </span>
    </div>
  </div>


  <div formArrayName="phones">
    <div *ngFor="let phone of form.controls['phones'].controls; let i = index">
      <label>Phone {{i +1}}</label> <br> 
      <input formControlName="{{i}}" />

      <div class="error" *ngIf="phone.invalid && phone.touched">
        <span *ngIf="phone.errors.required">
          Required 
        </span>
        <span *ngIf="phone.errors.incorrectPhone">
          Must start with "+3"
        </span>
      </div>
    </div>
  </div>

  <div>
    <button (click)="addPhone()">Add Phone</button>
  </div>

  
  <br>

  <button [disabled]="form.invalid">Submit</button>
</form>